### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/easycode.ignore
api_key.env
homework-5.iml
key.json
src/main/resources
misc.xml
vcs.xml
compiler.xml
encodings.xml
sell-use-case.puml
add-to-wishlist-use-case.puml

target/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.gitignore